.App {
  text-align: center;
 
  background-image: url("https://64.media.tumblr.com/776b5cdecc5eb335c1815878a74af6ec/tumblr_mskqrq8H081ru5h8co1_500.gif");
  background-repeat:no-repeat;
  background-position: center;
}
input {
  width: 50%;
  height: 5vh;
  margin: 30px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.pk {
  margin-left: 100px;
}
.black{
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
